<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Simple component angular组件库</title>
  {{import "index.less"}}
  <link href="js/packages/simple-component/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<ui-view></ui-view>
<script src="js/vendor/requirejs/require.js" data-main="js/config.js"></script>
</body>
</html>